$dark-orange: rgb(254,80,0);
$light-orange: rgb(243,105,68);
$dark-brown: rgb(147,135,114);
$light-brown: rgb(171,159,146);
$black: rgb(37,40,42);
$dark-gray: rgb(83,86,90);
$middle-gray: rgb(151,153,155);
$light-gray: #dad9db;
$lighter-gray: #ddddda;
$lightest-gray: #f5f6f6;
$footer-anchor: #722200;
$footer-text: #ede1e1;
$width: 90%;
$max-width: 1150px;
$smartphone: 1025px;
$tablet: 1025px;